<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Commandr.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Commandr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Commandr.Configuration>
            <setting name="InitialConnectionString" serializeAs="String">
                <value>data source=COA043;integrated security=True;MultipleActiveResultSets=True;</value>
            </setting>
            <setting name="LocalConnectionString" serializeAs="String">
                <value>data source=localhost;integrated security=True;MultipleActiveResultSets=True;</value>
            </setting>
            <setting name="InstallationPath" serializeAs="String">
                <value>\\MAXIMILIANOSALD\CommandrPackages</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>DOM\user</value>
            </setting>
            <setting name="Servers" serializeAs="String">
                <value>;;;</value>
            </setting>
            <setting name="ProjectPath" serializeAs="String">
                <value>C:\Projects\FyO\Corretaje</value>
            </setting>
        </Commandr.Configuration>
        <Commandr.Properties.Settings>
            <setting name="CurrentBranch" serializeAs="String">
                <value />
            </setting>
        </Commandr.Properties.Settings>
    </userSettings>
</configuration>
