<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
            <section name="TestRunner.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TestRunner.Default" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestRunner.Settings>
            <setting name="ShowProgress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectPath" serializeAs="String">
                <value>C:\Project\FyO\Corretaje</value>
            </setting>
            <setting name="MSTest" serializeAs="String">
                <value>C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\MSTest.exe</value>
            </setting>
            <setting name="MaxParallelTests" serializeAs="String">
                <value>12</value>
            </setting>
        </TestRunner.Settings>
        <TestRunner.Default>
            <setting name="ShowProgress" serializeAs="String">
                <value>True</value>
            </setting>
        </TestRunner.Default>
    </userSettings>
</configuration>
