<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
      <section name="MailSpy.Configuration" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <MailSpy.Configuration>
      <setting name="ConnectionString" serializeAs="String">
        <value>data source=4P020\SQL19;integrated security=True;MultipleActiveResultSets=True;</value>
      </setting>
    </MailSpy.Configuration>
  </userSettings>
</configuration>
